.button {
  font-size: 1.06rem;
  font-weight: 700;
  display: block;
  color: #ffffff;
  background-color: #4731b3;
  padding: 0.625rem 0.5rem;
  width: 100%;
  cursor: pointer;
  margin-top: 6px;
  border-radius: 0.19rem;
  border: none;
}
